<div class="filter-container">
  <label for="search">Buscar Notas:</label>
  <input
    id="search"
    type="text"
    [(ngModel)]="searchTerm"
    placeholder="Digite para buscar..."
  />
  <button (click)="filterNotes()">Buscar</button>
</div>

<div class="note-list">
   <!-- Caso não tenha nenhuma nota filtrada -->
  <div *ngIf="filteredNotes.length === 0" class="no-results-message">
    Nenhuma nota encontrada com este filtro.
  </div>

  <div class="note-card" *ngFor="let note of filteredNotes; let i = index">
    <div class="note-card-title">{{ note.title }}</div>
    <div class="note-card-content">{{ note.content }}</div>
    <div class="note-card-buttons">
      <button class="edit-btn" (click)="edit(i)">Editar</button>
      <button class="delete-btn" (click)="delete(i)">Excluir</button>
    </div>

    <!-- Formulário de edição (exibido se a nota estiver em modo de edição) -->
    <div *ngIf="noteToEdit?.id === note.id" class="note-edit-form">
      <h3>Editar Nota</h3>
      <form (ngSubmit)="saveEdit()">
        <label for="edit-title">Título:</label>
        <input id="edit-title" type="text" [(ngModel)]="noteToEdit.title" name="title" required />

        <label for="edit-content">Conteúdo:</label>
        <textarea id="edit-content" [(ngModel)]="noteToEdit.content" name="content" required></textarea>

        <button type="submit" class="edit-save-btn">Salvar</button>
        <button type="button" class="edit-cancel-btn" (click)="cancelEdit()">Cancelar</button>
      </form>
    </div>
  </div>
</div>
